.section3{
    width: 100%;
}

.part1{
    float: left;
    width: 50%;
    background-color:#835FA7;
    padding: 140px 0 90px 100px;
    color: #fff;
}

.wraper1{
    max-width: 500px;
    float: right;
    padding-right: 30px;
}

.part1 h2{
    font-weight: 300;
    font-style: italic;
    font-size: 23px;
}

.part1 p{
    font-size: 15px;
    line-height: 35px;
    margin-top: 10px;
}

.part2{
    background-color: #fff;
    float: left;
    width: 50%;
    padding: 140px 100px 101px 30px;
}

.sobre-autor{
    float: left;
    max-width: 500px;
}

.titulo-autor{
    float: left;
    width: 100%;
}

.wraper-titulo-autor{
    min-width: 200px;
    float: left;
    margin-bottom: 5px;
}

.titulo-autor h2{
    color: #232323;
    padding-right: 20px;
    font-weight: 400;
    font-size: 25px;
}

.titulo-autor p{
    font-size: 13px;
    color: #232323;
    font-style: italic;
    font-weight: 300;
}

.titulo-autor::after{
    content: "";
    width: 40px;
    height: 40px;
    background-image: url(../../imagens/perfil\ git.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    position: absolute;
}

.texto-autor{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.texto-autor p{
    display:block;
    color: #232323;
    font-size: 15px;
}

.slider-bullets{
    width: 100%;
    float: left;
    margin-top: 8px;
}

.slider-bullets span{
    float: left;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-right: 8px;
    background-color: #808080;
    cursor: pointer;
}


@media screen and (max-width: 580px) {
    .part1{
        width: 100%;
        padding: 90px 0 90px 90px ;
    }
    
    .part2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 90px 0 90px 30px;
    }
}


